[Unit]
Description=Update qBittorrent and Firewall (Root)

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update_port.sh

[Install]
WantedBy=multi-user.target
